CELERYD_NODES="fastfnop rsyncstorage backup scaninbox webrsync"
CELERY_BIN="{{ kanteledir }}/venv/bin/celery"
CELERYD_MULTI="multi"
CELERY_APP="kantele"
CELERYD_OPTS="-c:fastfnop 4 -c:rsyncstorage 1 -c:webrsync 1 -c:backup 1 -c:scaninbox 1 -Q:fastfnop '{{ inventory_hostname }}__{{ queue_fastfnop }}' -Q:rsyncstorage '{{ inventory_hostname }}__{{ queue_rsyncstorage }}' -Q:webrsync '{{ inventory_hostname }}__{{ queue_web_rsync }}' -Q:backup '{{ queue_backup }}' -Q:scaninbox '{{ inventory_hostname }}__{{ queue_scan }}' --statedb={{ kantelelogdir }}/%n%I.state"
CELERYD_LOG_LEVEL="INFO"
CELERYD_LOG_FILE="{{ kantelelogdir }}/%n%I.log"
CELERYD_PID_FILE="{{ kantelelogdir }}/%n%I.pid"
CELERYD_USER="{{ kanteleuser }}"
CELERYD_GROUP="{{ kantelegroup }}"
CELERY_CREATE_DIRS=1
KANTELEHOST="{{ kantele_host }}"
PROTOCOL=https
RABBITHOST={{ rabbithost }}
RABBIT_VHOST={{ mq_vhost }}
RABBITPASS={{ amqppass }}
RABBITUSER={{ rabbituser }}

CELERY_PREFETCH=1
SECRET_KEY={{ secret_key }}
APIKEY={{ storage_apikey }}

DSM_DIR="{{ dsm_dir }}"
RSYNC_SSHPORT=22
RSYNC_SSHUSER='{{ web_user }}'
RSYNC_SSHKEY='{{ rsync_ssh_key_file }}'
PRIMARY_STORAGE='{{ primary_storagename }}'

SECONDARY_STORAGE_RSYNC_USER='{{ secondary_storage_user }}'
SECONDARY_STORAGE_RSYNC_KEY='{{ secondary_storage_sshkey }}'

QUEUE_STORAGE="{{ queue_rsyncstorage }}"
QUEUE_FASTSTORAGE="{{ queue_fastfnop }}"
QUEUE_WEB_RSYNC ="{{ queue_web_rsync }}"
QUEUE_FILE_DOWNLOAD="{{ queue_dl }}"
QUEUE_BACKUP="{{ queue_backup }}"
QUEUE_SEARCH_INBOX="{{ queue_scan }}"

# FIXME remove
THERMOREAD_DOCKER="ghcr.io/lehtiolab/kantele_thermoreader"
THERMOKEY="SampleID"
BRUKERKEY="Description"
