set -a
source {{ celeryenv_file }}
set +a

{{ nf_module_loader_cmd }}

source "{{ kantelevenv }}/bin/activate"

cd src/backend
${CELERY_BIN} multi start ${CELERYD_NODES} \
  -A ${CELERY_APP} --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}
